body{
    background-color: grey;
    box-sizing: border-box;
}

h1{
    color: whitesmoke;
    color: white;
}

.container{
    margin: auto;
    padding: 10px;
    width: 350px;
    background-color: black;
    outline: 4px solid white;
    border-radius: 5px;
}

.calci{
    width: 330px;
}

.input{
    width: 100%;
    height: 50px;
    padding: 8px;
    text-align: left;
    background-color: #eee;
    color: #333;
    font-weight: bold;
    font-size:x-large;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
    background-color: black;
}

.button{
    color: white;
    margin: 5px;
    background: mediumaquamarine;
    background: black;
    outline: none;
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: large;
}

.button:hover {
    background: gray;
}

.equal{
    background: green;
}

.red {
    background: red;
}

.add{
    background: #0072C5;
}

.span{
    grid-column: span 2;
}

.span3{
    grid-column: span 3;
}

.row{
    grid-row: span 2;
}
